{% extends "base.html" %}
{% load static %}
{% block page_content %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

<center><img src='{% static "img/logo.png" %}'></center>

<!--<h1 style="text-align:center"> Nick Morris</h1>-->
<h1>Projects</h1>
<br>
<div class="row">
{% for project in projects %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{% static project.image %}">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                <a href="{% url 'project_detail' project.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<br>
<h3> About me </h3>
<br>
<span style="font-family:Roboto">
<div class="row">
  <div class="column left" style="background-color:#eee;">
      <img src='{% static "img/nm.png" %}'>
  </div>
  <div class="column right" style="background-color:#eee;">
    <p>I am a fourth-year mechatronics engineering honours student at The University of Queensland seeking an opportunity
 to excel in an area I am passionate about. Through actively engaging in university projects and courses, I have
 acquired the technical experience and teamwork to be a valued member of an engineering team.
 My experiences over the years of studying have grown my passion for mechatronic engineering,
 particularly in robotics and automation.
    </p>
  </div>
</div>
</span>

<br>
<h3> Contact info: </h3>
<div class = "row">
    <div class="col-md-2">
            <div class="card mb-2">
                <h5 class="card-title" style="text-align:center"> Github</h5>
                <a href="https://github.com/NicholasM0rris">
                    <center>
                    <img src='{% static "img/github.png" %}'>
                    </center>
                </a>
            </div>
    </div>
    <div class="col-md-2">
            <div class="card mb-2">
                <h5 class="card-title" style="text-align:center"> Linkedin</h5>
                <a href="http://www.linkedin.com/in/nick-morris-546341149">
                    <center>
                    <img src='{% static "img/linkedin.png" %}'>
                    </center>
                </a>
            </div>
    </div>
</div>
{% endblock %}


